In [3]:
while True:
    try:
        x = int(input("정수를 입력하세요"))
        print(f'입력한 정수는 {x}입니다.')
        print(f'100을 입력한 수로 나누면 {100/x}입니다.')
        break
    except (ValueError, ZeroDivisionError) as e:
        print('예외 발생함')
        print(type(e))
        print(e)

정수를 입력하세요 a

예외 발생함
<class 'ValueError'>
invalid literal for int() with base 10: 'a'

정수를 입력하세요 0

입력한 정수는 0입니다.
예외 발생함
<class 'ZeroDivisionError'>
division by zero

정수를 입력하세요 -1

입력한 정수는 -1입니다.
100을 입력한 수로 나누면 -100.0입니다.

In [4]:
def insert(data):
    if len(data)==0:
        raise Exception("데이터의 길이는 0이 될 수 없습니다.")
    print(f'{data}를 입력합니다.')

In [7]:
data = [1,5,6]
try:
    insert(data)
except Exception as e:
    print(e)
else:
    print('정상 실행')

[1, 5, 6]를 입력합니다.
정상 실행

In [8]:
while True:
    try:
        x = int(input('정수를 입력하세요: '))
        print('입력한 정수는 {}입니다.'.format(x))
        print('100을 입력한 수로 나누면 {}입니다.'.format(100/x))
        break
    except:
        print('유효한 정수가 아닙니다. 다시 입력하세요.')

정수를 입력하세요:  1

입력한 정수는 1입니다.
100을 입력한 수로 나누면 100.0입니다.

In [9]:
while True:
    try:
        x = int(input('정수를 입력하세요: '))
        print('입력한 정수는 {}입니다.'.format(x))
        print('100을 입력한 수로 나누면 {}입니다.'.format(100/x))
        break
    except ValueError:
        print('유효한 정수가 아닙니다. 다시 시도하세요.')
    except ZeroDivisionError:
        print('0으로 나눌 수 없습니다.')

정수를 입력하세요:  0

입력한 정수는 0입니다.
0으로 나눌 수 없습니다.

정수를 입력하세요:  1

입력한 정수는 1입니다.
100을 입력한 수로 나누면 100.0입니다.

In [10]:
while True:
    try:
        x = int(input('정수를 입력하세요: '))
        print('입력한 정수는 {}입니다.'.format(x))
        print('100을 입력한 수로 나누면 {}입니다.'.format(100/x))
        break
    except Exception:
        print('알 수 없는 오류입니다.')
    except ValueError:
        print('유효한 정수가 아닙니다. 다시 시도하세요.')
    except ZeroDivisionError:
        print('0으로 나눌 수 없습니다.')

정수를 입력하세요:  1

입력한 정수는 1입니다.
100을 입력한 수로 나누면 100.0입니다.

In [11]:
while True:
    try:
        x = int(input('정수를 입력하세요.'))
        print('입력한 정수는 {}입니다.'.format(x))
        print('100을 입력한 수로 나누면 {}입니다.'.format(100/x))
        break
    except (ValueError, ZeroDivisionError):
        print('유효한 수가 아닙니다. 다시 시도하세요.')

정수를 입력하세요. 1

입력한 정수는 1입니다.
100을 입력한 수로 나누면 100.0입니다.

In [12]:
try:
    f = open('myfile.txt','r')
except FileNotFoundError:
    print('파일이 없습니다.')
else:
    data = f.read()
    print(data)

파일이 없습니다.

In [13]:
try:
    f = open('myfile.txt','r')
    data = f.read()
    print(data)
except FileNotFoundError:
    print('파일이 없습니다.')

파일이 없습니다.

In [14]:
class Shape:
    def __init__(self):
        raise NotImplementedError

In [15]:
myShape = Shape()

NotImplementedError:

In [16]:
class Shape:
    def __init__(self):
        raise NotImplementedError

In [17]:
class Circle(Shape):
    def __init__(self):
        pass

In [18]:
my_circle = Circle()
print(my_circle)

<__main__.Circle object at 0x0000022BF28D0E90>

In [19]:
print(isinstance(my_circle, Shape))

True

In [20]:
class Shape:
    def __init__(self):
        raise NotImplementedError
    def calc_area(self):
        raise NotImplementedError

In [21]:
class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

In [22]:
my_circle = Circle(4.5)
my_circle.calc_area()

NotImplementedError:

In [26]:
class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius
    def calc_area(self):
        return self.radius * self.radius * 3.14

In [27]:
my_circle = Circle(4.5)
my_circle.calc_area()

63.585

In [28]:
f = open("sample.txt","w")
print(f.writable())
f.write("HelloWorld\n")

True

11

In [29]:
f.close()

In [30]:
f = open("sample.txt","a")
print("이 문자열도 파일에 저장할 수 있습니다.", file=f)
f.close()

In [31]:
with open("sample.txt","r") as f:
    for line in f.readlines():
        print(line.strip())

HelloWorld
이 문자열도 파일에 저장할 수 있습니다.

In [32]:
%%writefile "member.txt"
홍길동,20,kildong@hong.com,서울시 강동구
홍길서,25,kilseo@hong.com,서울시 강서구

Writing member.txt

In [34]:
with open("member.txt","r",encoding="UTF-8-SIG") as f:
    lines = f.readlines()
    for line in lines:
        data = line.strip().split(',')
        name = data[0]
        age = int(data[1])
        email = data[2]
        address = data[3]
        print(f"{name},{age},{email},{address}")

홍길동,20,kildong@hong.com,서울시 강동구
홍길서,25,kilseo@hong.com,서울시 강서구

In [41]:
class Member:
	def __init__(self, name, age, email, address):
		self.name = name
		self.age = age
		self.email = email
		self.address = address
	def __str__(self):
		return f"Name:{self.name}, Age:{self.age}, Email:{self.email}, Address:{self.address}"

In [42]:
user1 = Member("홍길동",20,"kildong@hong.com","서울시 강동구")
user2 = Member("홍길서",25,"kilseo@hong.com","서울시 강서구")
user_list = [user1,user2]

In [43]:
with open("member.data","wb") as f:
    import pickle
    pickle.dump(user_list, file=f)

In [44]:
del user_list

In [45]:
with open("member.data","rb") as f:
    import pickle
    user_list = pickle.load(f)

In [46]:
for user in user_list:
    print(user)

Name:홍길동, Age:20, Email:kildong@hong.com, Address:서울시 강동구
Name:홍길서, Age:25, Email:kilseo@hong.com, Address:서울시 강서구

In [47]:
%%writefile "member1.csv"
"홍길동",20,"kildong@hong.com","서울시 강동구"
"홍길서",25,"kilseo@hong.com","서울시 강서구"

Writing member1.csv

In [48]:
import csv

In [49]:
with open("member1.csv","r",encoding="UTF-8-SIG") as f:
    r = csv.reader(f, quotechar='"', quoting=csv.QUOTE_NONNUMERIC)
    for row in r:
        print(row)

['홍길동', 20.0, 'kildong@hong.com', '서울시 강동구']
['홍길서', 25.0, 'kilseo@hong.com', '서울시 강서구']

In [50]:
user_list = [['홍길동', 20.0, 'kildong@hong.com', '서울시 강동구'],
             ['홍길서', 25.0, 'kilseo@hong.com', '서울시 강서구']]

In [52]:
with open("member2.csv","w",newline='', encoding="UTF-8-SIG") as f:
    w = csv.writer(f, quoting=csv.QUOTE_NONNUMERIC)
    w.writerows(user_list)

In [54]:
%%writefile "member3.csv"
Name,Age,Email,Address
홍길동,20,kildong@hong.com,서울시 강동구
홍길서,25,kilseo@hong.com,서울시 강서구

Writing member3.csv

In [55]:
with open("member3.csv","r",encoding="UTF-8-SIG") as f:
    dict_reader = csv.DictReader(f)
    for row in dict_reader:
        print(row)

{'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Address': '서울시 강동구'}
{'Name': '홍길서', 'Age': '25', 'Email': 'kilseo@hong.com', 'Address': '서울시 강서구'}

In [56]:
with open("member1.csv","r",encoding="UTF-8-SIG") as f:
    dict_reader = csv.DictReader(f, fieldnames=["Name","Age","Email","Addr","Etc"], restval="없음")
    print(type(dict_reader))
    for row in dict_reader:
        print(row)

<class 'csv.DictReader'>
{'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Addr': '서울시 강동구', 'Etc': '없음'}
{'Name': '홍길서', 'Age': '25', 'Email': 'kilseo@hong.com', 'Addr': '서울시 강서구', 'Etc': '없음'}

In [57]:
user1 = {'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Address': '서울시 강동구'}
user2 = {'Name': '홍길서', 'Age': '25', 'Email': 'kilseo@hong.com', 'Address': '서울시 강서구'}

In [59]:
with open("member4.csv", "w", newline="", encoding="utf-8-SIG") as f:
    dict_writer = csv.DictWriter(f,fieldnames=["Name","Age","Email","Address"]);
    dict_writer.writeheader()
    dict_writer.writerow(user1)
    dict_writer.writerow(user2)

In [60]:
data = ['foo',{'bar':('baz', None, 1.0, 2)}]

In [61]:
import json

In [63]:
with open('sample.json','w') as f:
    json.dump(data,f, indent=True)

In [101]:
class Member:
    def __init__(self, name, age, email, address):
        self.name = name
        self.age = age
        self.email = email
        self.address = address

    def __str__(self):
        return f"Name:{self.name}, Age:{self.age}, Email:{self.email}, Address:{self.address}"

    def as_dict(self):
        return {"name":self.name, "age":self.age, "email":self.email, "address":self.address}

In [92]:
class Member:
    def __init__(self, name, age, email, address):
        self.name = name
        self.age = age
        self.email = email
        self.address = address

    def __str__(self):
        return f"Name:{self.name}, Age:{self.age}, Email:{self.email}, Address:{self.address}"

    def as_dict(self):
        return {"name": self.name, "age": self.age, "email": self.email, "address": self.address}

In [93]:
import json
with open('member.json', 'w', encoding="UTF-8-SIG") as jsonfile:
    json.dump(user_list, jsonfile, ensure_ascii=False, indent="\t", default=Member.as_dict)

In [94]:
import json
with open('member.json', encoding="UTF-8-SIG") as jsonfile:
    user_list = json.load(jsonfile)
    print(user_list)

[['홍길동', 20.0, 'kildong@hong.com', '서울시 강동구'], ['홍길서', 25.0, 'kilseo@hong.com', '서울시 강서구']]

In [102]:
class Member:
    def __init__(self, name, age, email, address):
        self.name = name
        self.age = age
        self.email = email
        self.address = address

    def __str__(self):
        return "Name:{}, Age:{}, Email:{}, Address:{}".format(self.name, self.age, self.email, self.address)

    def as_dict(self):
        return {"name":self.name, "age":self.age, "email":self.email, "address":self.address}

In [103]:
def as_member(dct):
    return Member(dct['name'], dct['age'], dct['email'], dct['address'])
import json
with open('member.json', encoding="UTF-8-SIG") as jsonfile:
    user_list = json.load(jsonfile, object_hook=as_member)
    for user in user_list:
        print(user)

['홍길동', 20.0, 'kildong@hong.com', '서울시 강동구']
['홍길서', 25.0, 'kilseo@hong.com', '서울시 강서구']

In [104]:
import pandas as pd

In [105]:
import seaborn as sns
iris = sns.load_dataset("iris")

In [106]:
type(iris)

pandas.core.frame.DataFrame

In [112]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [109]:
iris.to_csv("iris.csv",index=False)

In [110]:
iris.to_json("iris.json")

In [111]:
iris.to_hdf("iris.h5",key="iris")