In [1]:
import sqlite3

In [2]:
sqlite3.sqlite_version

'3.41.2'

In [3]:
conn = sqlite3.connect("contact.db")

In [4]:
cursor = conn.cursor()
print(cursor)

<sqlite3.Cursor object at 0x000002CA3BED9040>

In [5]:
cursor.execute("DROP TABLE contact")

OperationalError: no such table: contact

In [7]:
cursor.execute("""CREATE TABLE contact(
    name text,
    age int,
    email text)
""")

In [8]:
cursor.execute("insert into contact values('kim',30,'kim@naver.com')")

In [10]:
cursor.execute("insert into contact values(?,?,?)",("Lee",30,"lee@daum.net"))

In [12]:
cursor.execute("insert into contact values(:name, :age, :email)",
               {"name":"heo", "age":30, "email":"heojk@daum.net"})

In [13]:
conn.commit()

In [14]:
conn.close()

In [15]:
conn = sqlite3.connect("contact.db")

In [16]:
cursor = conn.cursor()

In [17]:
cursor.execute("select * from contact")

In [18]:
for row in cursor:
    print(row)

('kim', 30, 'kim@naver.com')
('Lee', 30, 'lee@daum.net')
('heo', 30, 'heojk@daum.net')

In [1]:
import cx_Oracle

In [20]:
!pip install cx_Oracle

Collecting cx_Oracle
  Downloading cx_Oracle-8.3.0.tar.gz (363 kB)
     ---------------------------------------- 0.0/363.9 kB ? eta -:--:--
     ------- ------------------------------- 71.7/363.9 kB 1.3 MB/s eta 0:00:01
     -------------------------------------- 363.9/363.9 kB 3.8 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: cx_Oracle
  Building wheel for cx_Oracle (pyproject.toml): started
  Building wheel for cx_Oracle (pyproject.toml): finished with status 'error'
Failed to build cx_Oracle

  error: subprocess-exited-with-error

  Building wheel for cx_Oracle (pyproject.toml) did not run successfully.
  exit code: 1

  [8 lines of output]
  <string>:6: DeprecationWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html
  C:\Users\kosa\AppData\Local\Temp\pip-build-env-t0hhehgi\overlay\Lib\site-packages\setuptools\config\expand.py:133: SetuptoolsWarning: File 'C:\\Users\\kosa\\AppData\\Local\\Temp\\pip-install-7lamdccl\\cx-oracle_2484ab0642a94f19873667da2d1c0af7\\README.md' cannot be found
    return '\n'.join(
  running bdist_wheel
  running build
  running build_ext
  building 'cx_Oracle' extension
  error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
  ERROR: Failed building wheel for cx_Oracle
ERROR: Could not build wheels for cx_Oracle, which is required to install pyproject.toml-based projects

In [ ]:
!conda install cx_Oracle

In [2]:
conn = cx_Oracle.connect(user="hr", password="hr", dsn=dsn)
print(conn)

NameError: name 'dsn' is not defined

In [3]:
import oracledb as db

In [5]:
conn = db.connect(dsn="localhost:1521/xe", user="hr", password="hr")
print(conn)

<oracledb.Connection to hr@localhost:1521/xe>

In [6]:
cursor = conn.cursor()
print(cursor)

<oracledb.Cursor on <oracledb.Connection to hr@localhost:1521/xe>>

In [7]:
cursor.execute("select * from employees")

In [8]:
print(cursor.fetchone())

(230, 'HanBit', 'Oh', 'ohb', '010-1234-5555', datetime.datetime(2024, 4, 22, 0, 0), 'IT_PROG', 5000.0, 0.0, 100, 60)

In [9]:
cursor.description

[('EMPLOYEE_ID', <DbType DB_TYPE_NUMBER>, 7, None, 6, 0, False),
 ('FIRST_NAME', <DbType DB_TYPE_VARCHAR>, 20, 20, None, None, True),
 ('LAST_NAME', <DbType DB_TYPE_VARCHAR>, 25, 25, None, None, False),
 ('EMAIL', <DbType DB_TYPE_VARCHAR>, 25, 25, None, None, False),
 ('PHONE_NUMBER', <DbType DB_TYPE_VARCHAR>, 20, 20, None, None, True),
 ('HIRE_DATE', <DbType DB_TYPE_DATE>, 23, None, None, None, False),
 ('JOB_ID', <DbType DB_TYPE_VARCHAR>, 10, 10, None, None, False),
 ('SALARY', <DbType DB_TYPE_NUMBER>, 12, None, 8, 2, True),
 ('COMMISSION_PCT', <DbType DB_TYPE_NUMBER>, 6, None, 2, 2, True),
 ('MANAGER_ID', <DbType DB_TYPE_NUMBER>, 7, None, 6, 0, True),
 ('DEPARTMENT_ID', <DbType DB_TYPE_NUMBER>, 5, None, 4, 0, True)]